/* MemberItem.css */

.member-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three columns with equal width */
    gap: 20px; /* Gap between items */
    align-items: center; /* Center align items vertically */
    background-color: #4C49F5; /* Light gray background */
    padding: 20px; /* Padding around the content */
    
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.info {
    grid-column: span 2; /* Span two columns for name and job title */
    text-align: center;
}



.member-container:hover .details {
    display: block; /* Show details on hover */
}

button {
    grid-column: span 3; /* Span all three columns for the button */
    margin-top: 10px; /* Add margin between button and details */
}


.card{
    background-color: #fef5f5;
    color: rgb(38, 82, 193);
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex; /* Use flexbox */
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center;

}

/* Additional styles for name and job title */
h2, h3 {
    margin: 5px 0; /* Add some margin above and below each heading */
}

.button-container {
    display: inline-block;
    margin-bottom: 20px;
}

.button-container button {
    background-color: #4C49F5; 
    color: #fff;
    border: none;
    border-radius: 50px; 
    padding: 10px 20px; 
    margin-right: 40px; 
    margin-left: 20px;
    width: 95px; 
}